@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    user-select: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

p,
h1,
h2,
h3,
h4 {
    padding: 0;
    margin: 0;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.container {
    width: 1260px;
    margin: 0 auto;
    padding: 5px 15px;
    /* border: 1px solid red; */
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    width: 350px;
    height: 36px;
    display: block;
}

.header__shortlogo{
    display: none;
}

.header__navbar-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.header__navbar-list--item {
    margin-right: 100px;
}

.header__navbar-list--item:last-child {
    margin-right: 0;
}

.navbar-item__link {
    text-decoration: none;
    color: #26AB7E;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    font-size: 14px;
}

.hero {
    background-image: url("../images/background-image.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 100px;
    padding-top: 100px;
}

.hero__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero__title {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 700;
    line-height: 50px;
    /* margin-top: 150px; */
}

.hero__line {
    width: 182px;
    height: 3px;
    background-color: #26AB7E;
    margin-top: 15px;
    margin-bottom: 15px;
}

.hero__text {
    color: #686868;
    font-size: 18px;
}

.hero__btn {
    background: #26AB7E;
    text-transform: uppercase;
    color: #fff;
    padding: 15px 30px;
    border: unset;
    cursor: pointer;
    font-weight: 500;
    margin-top: 20px;
}

.hero__image {
    width: 686px;
    height: 409px;
}

/* */

.products__container {
    padding-top: 50px;
    padding-bottom: 10 0px;
}

.products__item--icon {
    margin-bottom: 20px;
}

.products__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: auto auto auto;
    row-gap: 60px;
    column-gap: 20px;
}

.products__item {
    display: inline-block;
    /* border: 1px solid red; */
    padding: 12px 12px;
    box-shadow: 0px 12px 12px 0px rgba(0, 0, 0, 0.05), 0px 12px 12px 0px rgba(0, 0, 0, 0.07);
}

.products__item--title {
    color: var(--text-color, #252B42);
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.products__item--text,
.products__item--subtext {
    color: #939393;
    font-size: 14px;
    margin-bottom: 15px;
}

.products__item--subtext {
    font-size: 12px;
}

.products__item--link-text {
    display: block;
    margin-top: 20px;
    color: #26AB7E;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    text-decoration: none;
    text-transform: uppercase;
}

.product__container {
    margin-top: 120px;
    margin-bottom: 220px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product__title-wrapper {
    display: flex;
    align-items: center;
}

.product__img {
    width: 686px;
    height: 409px;
}

.product__line {
    width: 4px;
    height: 86px;
    background-color: #26AB7E;
    margin-right: 32px;
}

.product__title {
    color: #15181F;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
}

.product__text {
    margin-top: 40px;
    color: #686868;
    font-size: 18px;
}

.testimonials__title {
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    font-style: 30px;
    margin-bottom: 60px;
}

.testimonials__list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.testimonials__item {
    width: 50%;
    display: flex;
    padding-right: 30px;
}

.testimonials__icon {
    width: 46.074px;
    height: 36.23px;
}

.testimonials__text-wrapper {
    margin-left: 34px;
}

.testimonials__text {
    color: #3D3D3D;
    font-size: 16px;
    margin-bottom: 40px;
}

.testimonials__name {
    color: #000;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 5px;
}

.testimonials__role {
    color: #3D3D3D;
    font-size: 14px;
    font-weight: 400;
}

.feedback__container {
    padding-top: 100px;
}

.feedback__wrapper {
    /* width: 40%; */
    color: #fff;
    padding: 30px;
    background: #26AB7E;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.feedback__wrapper h4 {
    color: #FFF;
    font-size: 20px;
    font-weight: 400;
}

.feedback__wrapper button {
    padding: 17px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    border: 2px solid #FFF;
    background: #26AB7E;
    cursor: pointer;
}

footer {
    margin-top: 92px;
}

.footer__container {
    display: flex;
}

.footer__list-wrapper-1 {
    display: flex;
}

.footer__list-wrapper-1 ul {
    list-style: none;
    padding: 0 60px 0 0;
}

.footer__list-wrapper-1 ul:last-child {
    list-style: none;
    padding: 0 0px 0 0;
}

.footer__list-wrapper-1 li {
    margin-bottom: 5px;
}

.footer__list-wrapper-1 li:last-child {
    margin-bottom: 0px;
}

.footer__list-wrapper-1 li a {
    font-weight: 400;
    color: var(--green-2, #27AE60);
    font-size: 16px;
    text-decoration: none;
}

.footer__list-2 {
    margin-left: 100px;
    margin-right: 50px;
}

.footer__list-3 form {
    position: relative;
}

.footer__list-3 input {
    border: 1px solid #E1E1E1;
    background: #FFF;
    width: 267px;
    height: 35px;
    padding-left: 9px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.footer__arrow {
    position: absolute;
    top: 30px;
    left: 240px;
}

.footer__list-3 input::placeholder {
    color: #D0D0D0;
    font-size: 14px;
}

.footer__sign {
    color: #8D8D8D;
    font-size: 14px;
    font-weight: 400;
}

@media only screen and (max-width: 1000px) {
    .container{
        width: 700px;
        /* border: 1px solid green; */
    }
    .hero__image{
        display: none;
    }
    .header__logo {
        display: none;
    }
    
    .header__shortlogo{
        display: block;
    }
    .header__navbar-list--item {
        margin-right: 50px;
    }


    .products__list {
        grid-template-columns: auto;
        row-gap: 20px;
    }
    .products__item {
        display: block;
        /* border: 1px solid red; */
        box-shadow: 0px 12px 12px 0px rgba(0, 0, 0, 0.05), 0px 12px 12px 0px rgba(0, 0, 0, 0.07);
    }
    .product__img {
        display: none;
    }
    .footer__list-3{
        display: none;
    }
}

@media only screen and (max-width: 568px) {
    .container{
        width: 400px;
        /* border: 1px solid green; */
    }
    .hero__image{
        display: none;
    }
    .header__logo {
        display: none;
    }
    
    .header__shortlogo{
        display: block;
    }
    .header__navbar-list {
        display: none;
    }


    .products__list {
        grid-template-columns: auto;
        row-gap: 20px;
    }
    .products__item {
        display: block;
        /* border: 1px solid red; */
        box-shadow: 0px 12px 12px 0px rgba(0, 0, 0, 0.05), 0px 12px 12px 0px rgba(0, 0, 0, 0.07);
    }
    .product__img {
        display: none;
    }
    .footer__list-3{
        display: none;
    }
}
